* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background-image: url(/img/supernova\ bg.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  margin-top: 2rem;
  background-color: #e2dfd8;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

li {
  list-style: none;
  margin: 1rem;
}

.hero-container {
  margin: 6rem 2rem 3rem 2rem;
}

.hero-container h1 {
  font-size: 5rem;
  font-style: italic;
  padding-bottom: 1rem;
}

.hero-container p {
  font-size: 1rem;
  overflow: wrap;
}

.hero-left {
  max-width: 60vw;
  padding: 6rem 0rem 5rem 5rem;
}

.horoscope-container {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horoscope-container h2 {
  text-align: center;
  margin-top: 6rem;
}

select {
  border: 1.5px solid;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: transparent;
  margin: 1rem;
  max-width: 20vw;
  font-size: 1.5rem;
}

.select-container {
  margin: 3rem 0 0 0;
}

#my-horoscope {
  background-color: rgb(223, 187, 110);
  border-radius: 20px;
  width: 70vw;
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
  margin-bottom: 6rem;
}
